RewriteEngine on

RewriteBase /minisnacks

# About
RewriteRule ^about$ http://%{HTTP_HOST}/minisnacks/about/ [R=301,L]
RewriteRule ^about/$ ./index.html?action=about

# Menu
RewriteRule ^menu$  http://%{HTTP_HOST}/minisnacks/menu/ [R=301,L]
RewriteRule ^menu/([A-Za-z_]+)*$ ./index.html?action=menu&id=$1

# Detail
RewriteRule ^details/[\d+]$ ./index.html?action=details&id=$1

# Checkout
RewriteRule ^checkout$ http://%{HTTP_HOST}/minisnacks/checkout/ [R=301,L]
RewriteRule ^checkout/$ ./index.html?action=checkout

# Checkout
RewriteRule ^shop$ http://%{HTTP_HOST}/minisnacks/shop/ [R=301,L]
RewriteRule ^shop/$ ./index.html?action=shop

# Detail
RewriteRule ^shop/[\d+]$ ./index.html?action=shops&id=$1

# Checkout
RewriteRule ^cart$ http://%{HTTP_HOST}/minisnacks/cart/ [R=301,L]
RewriteRule ^cart/$ ./index.html?action=cart

# Account
RewriteRule ^account$ http://%{HTTP_HOST}/minisnacks/account/ [R=301,L]
RewriteRule ^account/$ ./index.html?action=account

# My Order
RewriteRule ^myorder$ http://%{HTTP_HOST}/minisnacks/myorder/ [R=301,L]
RewriteRule ^myorder/$ ./index.html?action=myorder

# Search
RewriteRule ^search$ http://%{HTTP_HOST}/minisnacks/search/ [R=301,L]
RewriteRule ^search/$ ./index.html?action=search

# Admin
RewriteRule ^admin$ http://%{HTTP_HOST}/minisnacks/admin/ [R=301,L]
RewriteRule ^admin/(([A-Za-z_]+)(/[A-Za-z_0-9]+)*)*$ ./admin.html
