RewriteEngine on

RewriteBase /minisnacks

# About
RewriteRule ^about$ http://localhost/minisnacks/about/ [R=301,L]
RewriteRule ^about/$ ./index.html?action=about

# Menu
RewriteRule ^menu$  http://localhost/minisnacks/menu/ [R=301,L]
RewriteRule ^menu/([A-Za-z_]+)*$ ./index.html?action=menu&id=$1

# Checkout
RewriteRule ^checkout$ http://localhost/minisnacks/checkout/ [R=301,L]
RewriteRule ^checkout/$ ./index.html?action=checkout

# Search
RewriteRule ^search$ http://localhost/minisnacks/search/ [R=301,L]
RewriteRule ^search/$ ./index.html?action=search

# Admin
RewriteRule ^admin$ http://localhost/minisnacks/admin/ [R=301,L]
RewriteRule ^admin/([A-Za-z_]+)*$ ./admin.html?action=$1
