<div class="inner-wrapper">
	<div class="col-md-6 col-md-offset-3">
		<table class="table" style="border:1px solid black">
		<caption style="background:#006064;padding-left:15px;color:white">Thông tin khách hàng</caption>
		<tr>
			<td style="border-top:1px solid black"><b>Ngày tạo:</b></td>
			<td style="border-top:1px solid black">{{order.created_date}}</td>
		</tr>
		<tr>
			<td><b>Trạng thái:</b></td>
			<td>{{order.status}}</td>
		</tr>
		<tr>
			<td><b>Họ tên:</b></td>
			<td>{{orderUser.lastname +' '+orderUser.firstname}}</td>
		</tr>
		<tr>
			<td><b>Địa chỉ:</b></td>
			<td>{{orderUser.address}}</td>
		</tr>
		<tr>
			<td><b>Email:</b></td>
			<td>{{orderUser.email}}</td>
		</tr>
		<tr>
			<td><b>Số điện thoại:</b></td>
			<td>{{orderUser.telephone}}</td>
		</tr>
	</table>
	</div>
	
	<table class="table table-bordered table-stripped">
		<thead>
			<tr>
				<th>STT</th>
				<th>Tên</th>
				<th>Hình ảnh</th>
				<th>Giá</th>
				<th>Số lượng</th>
				<th>Thành Tiền</th>
			</tr>
		</thead>
		<tbody>
		<tr ng-repeat="x in order.products">
			<td>{{$index+1}}</td>
			<td>{{x.name}}</td>
			<td><img src="{{x.imgSrc}}" style="width:100px;height:75px"></td>
			<td>{{x.price}}</td>
			<td>{{x.quantity}}</td>
			<td>{{(x.price * x.quantity) | number}}</td>
		</tr>
		<tr>
		<td colspan="5" style="text-align: right"><p><b>Tổng tiền</b></p></td>
		<td>{{totalPrice | number }}</td>
		</tr>
		<tr>
		<td colspan="5" style="text-align: right"><p><b>Tổng hóa đơn</b></p><p style="font-size:13px;height:15px;margin:0"><em>(10 % VAT)</em></p></td>
		<td>{{(totalPrice * 1.1) | number }}</td>
		</tr>
		</tbody>
	</table>
</div>