<div class="inner-wrapper">
	<div style="width:100;height:250px;padding-top:0;border:1px solid rgba(0,0,0,0.2)">
		<div style="height:40px;background:#01579B;padding:5px">
			<h4 style="color:white"> Thống kê chung </h4>
		</div>
		<div style="height:160px;width:100%">
			<div class="col-md-3">
				<div style="padding:15px;text-align: center"><span class="glyphicon glyphicon-user" style="font-size:50px;"> </span></div>
				<div style="padding:15px;font-size:45px;text-align: center">{{statistic.user}}</div>
				<p style="text-align: center">Người Dùng</p>
			</div>
			<div class="col-md-3">
				<div style="padding:15px;text-align: center"><span class="fa fa-cubes" style="font-size:50px;"> </span></div>
				<div style="padding:15px;font-size:45px;text-align: center">{{statistic.food}}</div>
				<p style="text-align: center">Món ăn</p>
			</div>
			<div class="col-md-3">
				<div style="padding:15px;text-align: center"><span class="fa fa-archive" style="font-size:50px;"> </span></div>
				<div style="padding:15px;font-size:45px;text-align: center">{{statistic.cat}}</div>
				<p style="text-align: center">Danh mục sản phẩm</p>
			</div>
			<div class="col-md-3">
				<div style="padding:15px;text-align: center"><span class="fa fa-files-o" style="font-size:50px;"> </span></div>
				<div style="padding:15px;font-size:45px;text-align: center">{{statistic.order}}</div>
				<p style="text-align: center">Đơn hàng</p>
			</div>
		</div>
	</div>

	
	
</div>	