<div class="container wrapper">
        <div class="row cart-head">
            <div class="container">
                <div class="page-header">
                  <h1 style="color:black">Thông tin hóa đơn</h1>
                </div>
            </div>
        </div>    
        <div class="row cart-body">
            <form class="form-horizontal" method="post" action="http://localhost/minisnacks">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">
                <!--SHIPPING METHOD-->
                <div class="panel panel-info">
                    <div class="panel-heading">Thông tin người mua</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-12">
                                <h4>Shipping Address</h4>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-xs-12">
                                <strong>Họ:</strong>
                                <input type="text" name="first_name" class="form-control" ng-model="newOrder.lastname" />
                            </div>
                            <div class="span1"></div>
                            <div class="col-md-6 col-xs-12">
                                <strong>Tên:</strong>
                                <input type="text" name="last_name" class="form-control" ng-model="newOrder.firstname" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12"><strong>Địa chỉ:</strong></div>
                            <div class="col-md-12">
                                <input type="text" name="address" class="form-control" ng-model="newOrder.address" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12"><strong>Zip / Postal Code:</strong></div>
                            <div class="col-md-12">
                                <input type="text" name="zip_code" class="form-control" ng-model="newOrder.ZipCode" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12"><strong>Điện thoại liên lạc:</strong></div>
                            <div class="col-md-12"><input type="text" name="phone_number" class="form-control" ng-model="newOrder.phone" /></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12"><strong>Email:</strong></div>
                            <div class="col-md-12"><input type="text" name="email_address" class="form-control" ng-model="newOrder.email" /></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12"><strong>Ghi chú:</strong></div>
                            <div class="col-md-12">
                                <textarea class="form-control" rows="5" ng-model="newOrder.note"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <!--SHIPPING METHOD END-->
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">
                <!--REVIEW ORDER-->
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Danh sách mua hàng <div class="pull-right"><small><a class="afix-1" href="http://localhost/minisnacks/cart">Cập nhật lại giỏ hàng</a></small></div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group" ng-repeat="item in currentUser.cart.items">
                            <div class="col-sm-3 col-xs-3">
                                <img class="img-responsive" src="{{item.imgSrc}}" width="100px" height="70px" />
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <div class="col-xs-12" ng-bind="item.name">Sản phẩm</div>
                                <div class="col-xs-12"><small>Số lượng:<span ng-bind="item.quantity"></span></small></div>
                                <div class="col-xs-12"><small>Đơn giá:<span>{{item.price | number:0}} VND</span></small></div>
                            </div>
                            <div class="col-sm-3 col-xs-3 text-right">
                                <h6 style="color:black">{{item.quantity * item.price | number:0}} VND</h6>
                            </div>
                        </div>
                        <div class="form-group"><hr /></div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <strong>Thành tiền</strong>
                                <div class="pull-right"><span>{{currentUser.cart.total | number:0}} VND</span></div>
                            </div>
                        </div>
                        <div class="form-group"><hr /></div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <strong>Tổng hóa đơn</strong>
                                <div class="pull-right"><span>{{currentUser.cart.total * 1.1 | number:0}} VND - Đã bao gồm VAT</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--REVIEW ORDER END-->
            </div>
            
            </form>
        </div>
        <div class="row cart-footer" style="margin-bottom:20px">
            <button type="submit" class="btn btn-primary btn-block" ng-click="checkout()"><h3>Thanh toán</h3></button>
        </div>
</div>