<div class="container-fluid">
<div class="content-grid row">
  <div class="col-md-12 food-grid">
    <div class="cup cffffff">
      <div class="food-header cf44336">
        <h2>Common</h2>
      </div>
      <div class="col-md-3" ng-repeat="food in foods| filter:searchText">
        <div class="cup-in">
          <a href="#"><img src="{{food.imgSrc}}" class="img-responsive" alt=""></a>
          <p>{{food.name}}</p>
          <span class="dollar">${{food.price}}</span>
          <div class="details-in">
            <a href="#" class="details">Details</a>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>

    <div class="cup cffffff">
      <div class="food-header c4caf50">
        <h2>Phổ biến</h2>
      </div>
      <div class="col-md-3">
        <div class="cup-in">
          <a href="single.html"><img src="images/p1.jpg" class="img-responsive" alt=""></a>
          <p>Lorem ipsum dolor sit consectetur</p>
          <span class="dollar">$25.89</span>
          <div class="details-in">
            <a href="#" class="details">Details</a>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="cup-in">
          <a href="single.html"><img src="images/p1.jpg" class="img-responsive" alt=""></a>
          <p>Lorem ipsum dolor sit consectetur</p>
          <span class="dollar">$25.89</span>
          <div class="details-in">
            <a href="#" class="details">Details</a>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="cup-in">
          <a href="single.html"><img src="images/p1.jpg" class="img-responsive" alt=""></a>
          <p>Lorem ipsum dolor sit consectetur</p>
          <span class="dollar">$25.89</span>
          <div class="details-in">
            <a href="#" class="details">Details</a>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="cup-in">
          <a href="single.html"><img src="images/p1.jpg" class="img-responsive" alt=""></a>
          <p>Lorem ipsum dolor sit consectetur</p>
          <span class="dollar">$25.89</span>
          <div class="details-in">
            <a href="#" class="details">Details</a>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="clearfix"> </div>
</div>
</div>
