 <div class="responsive">
   <table class="table table-stripped table-bordered">
     <thead>
       <th style="width: 100px">#</th>
       <th>Tên sản phẩm</th>
       <th>Giá</th>
       <th style="width: 200px;">Hình ảnh</th>
       <th>Số lượng</th>
     </thead>
     <tbody >
       <tr ng-repeat="food in foods | limitTo: 5">
         <td>{{$index+1}} <br>
           <button type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-pencil"> Sửa</span>
            </button>
           <button type="button" class="btn btn-default btn-sm" ng-click="remove(food.id)">
              <span class="glyphicon glyphicon-trash"> Xóa</span>
            </button>
          </td>
         <td>{{food.name}}
         </td>
         <td>{{food.price}}</td>
         <td><img ng-src="{{food.imgSrc}}" height="150px" width="150px" /></td>
         <td></td>
       </tr>
     </tbody>
   </table>
   <center>
     <ul class="pagination">
      <li ng-repeat="p in pages"><a class="btn btn-primary" ng-click="goToPage(p)">{{p}}</a></li>
    </ul>
   </center>
 </div>
