<div class="inner-wrapper"> 
 <div class="responsive">
   <table class="table table-stripped table-bordered">
     <thead>
       <th style="width: 100px">#</th>
       <th>Tên sản phẩm</th>
       <th>Giá</th>

       <th>Số lượng</th>
     </thead>
     <tbody >
       <tr ng-repeat="food in foods | limitTo: 10">
         <td>{{$index+1}} <br>
          </td>

         <td>
         <a href="" class="btn-link"><span class="glyphicon glyphicon-pencil"></span></a> 
         <a href="" class="btn-link" ng-click="remove(food.id)"><span class="glyphicon glyphicon-trash"></span></a>
         &boxV;<a href="/minisnacks/admin/product/{{food.id}}" class="btn-link">{{food.name}}</a>
         
         </td>
         <td>{{food.price}}</td>

         <td></td>
       </tr>
     </tbody>
   </table>
   <center>
     <ul class="pagination">
      <li ng-repeat="p in pages"><a class="btn btn-primary" ng-click="goToPage(p)">{{p}}</a></li>
    </ul>
   </center>
 </div>
</div>