<div class="container">
	<div class="single">
		<div class="col-md-9  single-top">
			<div class="text-in">					
					<div class="single-men">
						<img class="img-responsive" src="{{dish.thumbnail}}" alt="" />
						<h5>{{dish.name}}</h5>
						<p>{{dish.description}}</p>
					</div>
					  <ul class="comment-list" ng-if="dish.comments.length == 0">
						<h5 class="post-author_head">Be the first one who feedback for this food!!!</h5>
					 </ul>
					 <ul class="comment-list" ng-repeat="cmt in dish.comments">
						<h5 class="post-author_head">Written by <a href="#" title="Posts by admin" rel="author">{{cmt.author}}</a></h5>
						 <li>
							<img src="images/avatar.png" class="img-responsive" alt="">
						   <div class="desc">
							<p>{{cmt.content}}</p>
						   </div>
						   <div class="clearfix"></div>
						 </li>
					 </ul>
				<div class="comments-area">
						<h3>Add New Comment</h3>
						<form>
							<p>
								<label>Name</label>
								
								<input type="text" value="" ng-model="newComment.author">
							</p>
							<p>
								<label>Email</label>
								
								<input type="text" value="">
							</p>
							<p>
								<label>Website</label>
								<input type="text" value="">
							</p>
							<p>
								<label>Subject</label>
								
								<textarea ng-model="newComment.content"></textarea>
							</p>
							<div class="sub-in">
								<input type="button" value="Submit Comment" ng-click="AddNewComment()">
							</div>
						</form>
				  </div>
			</div>	
		</div>
		<div class="col-md-3 single-bottom">
				<div class="store-right">
					<h6> Categories</h6>
					<ul class="store-men">
						<li><a href="#"><span> </span>Contrary to popular </a></li>
						<li><a href="#"><span> </span>simply random text</a></li>
						<li><a href="#"><span> </span> Lorem Ipsum passage </a></li>
						<li><a href="#"><span> </span>undoubtable source </a></li>
						<li><a href="#"><span> </span>Finibus Bonorum et</a></li>
						<li class="last"><a href="#"><span> </span>word in classical literature </a></li>
					</ul>
				</div>		
				<div class="store-right">
					<h6>Top rated products</h6>
					<div class="product">
						<img class="img-responsive fashion" src="images/st1.jpg" alt=""/>
					<div class="grid-product">
						<a href="#" class="elit">consectetuer adipiscing elit</a>
						<span class="price price-in"><small>$15.00</small> $10.00</span>
					</div>
					<div class="clearfix"> </div>
					</div>
					<div class="product">
						<img class="img-responsive fashion" src="images/st2.jpg" alt=""/>
					<div class="grid-product">
						<a href="#" class="elit">consectetuer adipiscing elit</a>
						<span class="price price-in"><small>$15.00</small> $10.00</span>
					</div>
					<div class="clearfix"> </div>
					</div>
					<div class="product">
						<img class="img-responsive fashion" src="images/st3.jpg" alt=""/>
					<div class="grid-product">
						<a href="#" class="elit">consectetuer adipiscing elit</a>
						<span class="price price-in"><small>$150.00</small> $10.00</span>
					</div>
					<div class="clearfix"> </div>
					</div>
					<div class="product">
						<img class="img-responsive fashion" src="images/st4.jpg" alt=""/>
						<div class="grid-product">
							<a href="#" class="elit">consectetuer adipiscing elit</a>
							<span class="price price-in"><small>$15.00</small> $10.00</span>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>	
			</div>
		<div class="clearfix"> </div>
	</div>
</div>